.product-main{
    padding: 10px;
}
.card{
    margin: 10px;
    padding: 10px;
    width: 250px;
    height: 300px;
    box-shadow: 5px 5px 10px #cccc;
    border-bottom-right-radius:  50px; /* Set border radius for all corners */   
}
.card > img{
    
    margin: 5px;
    width: 80%;
    height: 65%;
    object-fit: cover;
    border-bottom-right-radius: 50px;
}
.card >h4{
    margin: 5px;
    padding: 5px;
}
.card >p{
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card:hover{
    box-shadow: 10px 10px 20px #cccc;
}